<div style="margin-left: 0; padding:0;" class="container black topBotomBordersOut">
  <div class="col-12" style="text-align: left; margin-top:20px;">
    <a class="nav-item" href="/">ACCUEIL</a>
    <a class="nav-item" (click)="gallerie()">GALERIE</a>
    <a class="nav-item" (click)="goHelp()">NOUS AIDER</a>
    <a class="nav-item" >DOCUMENTATION</a>
    <a class="nav-item" >CONTACT</a>
  </div>
</div>

<div style="margin-top: 15px; margin-left: 10px" class="wrapper">
  <i (click)="goFacebook()" class="fa fa-5x fa-facebook-square"></i>

</div>
